@model Online_Movie.Models.Movie

<div class="pagetitle">
    <h1>Form Elements</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Elements</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">General Form Elements</h5>

                    <!-- General Form Elements -->
                    <form asp-action="UpdateMovie">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MovieId" />
                        <div class="row mb-3">
                            <label asp-for="MovieName" class="control-label"></label>
                            <input asp-for="MovieName" class="form-control" />
                            <span asp-validation-for="MovieName" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Duration" class="control-label"></label>
                            <input asp-for="Duration" class="form-control" />
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Likes" class="control-label"></label>
                            <input asp-for="Likes" class="form-control" />
                            <span asp-validation-for="Likes" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Actors" class="control-label"></label>
                            <input asp-for="Actors" class="form-control" />
                            <span asp-validation-for="Actors" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            
                            <div class="col-sm-10">
                                <button type="submit" value="Update" class="btn btn-primary">Update</button>
                            </div>
                        </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>
    </div>
</section>