@model List<Online_Movie.Models.Movie>

<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
	<div class="companies20-content">
		<div class="owl-one owl-carousel owl-theme">
			<div class="item">
				<li>
					<div class="slider-info banner-view bg bg2">
						<div class="banner-info">
							<h3>Latest Movie Trailers</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
									Consequuntur hic odio
									voluptatem tenetur consequatur.
								</span>
							</p>
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/358205676" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info  banner-view banner-top1 bg bg2">
						<div class="banner-info">
							<h3>Latest Online Movies</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
									Consequuntur hic odio
									voluptatem tenetur consequatur.
								</span>
							</p>
							<a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/395376850" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info banner-view banner-top2 bg bg2">
						<div class="banner-info">
							<h3>Latest Movie Trailers</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
									Consequuntur hic odio
									voluptatem tenetur consequatur.
								</span>
							</p>
							<a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/389969665" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info banner-view banner-top3 bg bg2">
						<div class="banner-info">
							<h3>Latest Online Movies</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
									Consequuntur hic odio
									voluptatem tenetur consequatur.
								</span>
							</p>
							<a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/323491174" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</section>
<section class="w3l-mid-slider position-relative">
	<div class="companies20-content">
		<div class="owl-mid owl-carousel owl-theme">
			<div class="item">
				<li>
					<div class="slider-info mid-view bg bg2">
						<div class="container">
							<div class="mid-info">
								<span class="sub-text">Comedy</span>
								<h3>Jumanji: The Next Level</h3>
								<p>2019 ‧ Comedy/Action ‧ 2h 3m</p>
								<a class="watch" href="movies.html">
									<span class="fa fa-play"
										  aria-hidden="true"></span>
									Watch Trailer
								</a>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info mid-view mid-top1 bg bg2">
						<div class="container">
							<div class="mid-info">
								<span class="sub-text">Adventure</span>
								<h3>Dolittle</h3>
								<p>2020 ‧ Family/Adventure ‧ 1h 41m</p>
								<a class="watch" href="movies.html">
									<span class="fa fa-play"
										  aria-hidden="true"></span>
									Watch Trailer
								</a>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info mid-view mid-top2 bg bg2">
						<div class="container">
							<div class="mid-info">
								<span class="sub-text">Action</span>
								<h3>Bad Boys for Life</h3>
								<p>2020 ‧ Comedy/Action ‧ 2h 4m</p>
								<a class="watch" href="movies.html">
									<span class="fa fa-play"
										  aria-hidden="true"></span>
									Watch Trailer
								</a>
							</div>
						</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</section>

  




