
<link rel="stylesheet" href="~/Seat_Booking/css/style.css" />

<body>
    <section class="seat-group">
    <div class="movie-container">
        <label>Select a movie:</label>
        <select id="movie">
            <option value="220" data-video-src="~/Seat_Booking/Godzilla vs. Kong – Official Trailer.mp4">Godzilla vs Kong (RS.220)</option>
            <option value="320" data-video-src="~/Seat_Booking/Marvel Studios' Avengers： Infinity War Official Trailer.mp4">Avenger (RS.320)</option>
        </select>
    </div>

    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>Available</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat sold"></div>
            <small>Sold</small>
        </li>
    </ul>

    <div class="container">
        <div class="screen">
            <video id="movieVideo" autoplay loop>
                <script>
                    var video = document.currentScript.parentElement;
                    video.volume = 0.1;
                </script>
                <!-- Video sẽ được thay đổi -->
            </video>
        </div>

    <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
    </div>

    <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
    </div>
    <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
    </div>
    <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
    </div>
    <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
    </div>
    <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat"></div>
    </div>
    </div>

    <p class="text">
        You have selected <span id="count">0</span> seat for a price of RS.<span id="total">0</span>
    </p>
    </section>
    <script src="~/Seat_Booking/js/script.js"></script>
</body>


