<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviekart - Book Online Movie Tickets</title>
    <link rel="icon" href="~/Movie_Ticket_Booking/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Movie_Ticket_Booking/css/style.css">
</head>
<body>
    <main>
        <h2 class="text-center heading-dash"> Book Tickets <i class="fas fa-ticket-alt"></i> <span></span></h2>
        <section class="main-section">
            <div class="booking-heading">
                <h4 class="text-center"><span><i class="fas fa-circle"></i>Step 1</span> Please select the Date and Multiplex</h4>
            </div>

            <div class="date-n-cinema">
                <input type="date" value="2020-03-30"
                       min="2020-01-01" max="2018-12-31" class="input-date">
                <select class="pick-multiplex">
                    <option value="" disabled selected>Select Multiplex</option>
                    <option value="1">Demo Multiplex</option>
                    <option value="2">Demo Multiplex</option>
                    <option value="3">Demo Multiplex</option>
                    <option value="4">Demo Multiplex</option>
                    <option value="5">Demo Multiplex</option>
                    <option value="6">Demo Multiplex</option>
                    <option value="7">Demo Multiplex</option>
                </select>
                <input type="submit" class="type-submit">
            </div>

            <div class="booking-heading">
                <h4 class="text-center"><span><i class="fas fa-circle"></i>Step 2</span> Please select the Movie, show-time and seats.</h4>
            </div>

            <div class="date-n-cinema">
                <select class="pick-multiplex">
                    <option value="" disabled selected>Select Movie</option>
                    <option value="1">Demo Movie</option>
                    <option value="2">Demo Movie</option>
                    <option value="3">Demo Movie</option>
                    <option value="4">Demo Movie</option>
                    <option value="5">Demo Movie</option>
                    <option value="6">Demo Movie</option>
                    <option value="7">Demo Movie</option>
                </select>
                <select class="pick-multiplex">
                    <option value="" disabled selected>Select Show Time</option>
                    <option value="1">09:00 AM</option>
                    <option value="2">10:30 AM</option>
                    <option value="3">11:30 AM</option>
                    <option value="4">01:30 PM</option>
                    <option value="5">04:30 PM</option>
                    <option value="6">07:30 PM</option>
                    <option value="7">10:00 PM</option>
                </select>
                <select class="pick-multiplex">
                    <option value="" disabled selected>Select Category</option>
                    <option value="1">Gold</option>
                    <option value="2">Normal</option>
                </select>
                <select class="pick-multiplex">
                    <option value="" disabled selected>Select No of tickets</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <a asp-action="Seat_Selection">
                    <input type="submit" class="type-submit" value="Book Tickes">
                </a>
            </div>
        </section>
    </main>

    
</body>
</html>