@model Online_Movie.Models.Movie
@using Online_Movie.Repository;
@inject IShowtimeReposistory showtimeRepository
<!-- Loading third party fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Loading main css file -->
<link rel="stylesheet" href="~/Movie_Detail/css/style.css">

<main class="main-content">
	<div class="container">
		<div class="page">
			<div class="breadcrumbs">
				<a href="index.html">Home</a>
				<a href="review.html">Movie Review</a>
				<span>The Croods</span>
			</div>

			<div class="content">
				<div class="row">
					<div class="col-md-6">
						<figure class="movie-poster"><img src="~/assets/images/@Model.Image" height="550px" width="500px"></figure>
					</div>
					<div class="col-md-6">
						<h2 class="movie-title">@Model.MovieName</h2>
						<div class="movie-summary">
							<p>Avatar is an American science fiction film written and directed by James Cameron, and starring Sam Worthington, Zoe Saldana, Stephen Lang, Michelle Rodriguez and Sigourney Weaver. The film is set in the year 2154, when humans are mining a precious substance known as unobtanium in Pandora, a lush planet inhabited by the star Alpha Centauri Expansion of mining in the cluster of villages in progress. threatens the survival of the indigenous Na'vi people of Pandora. The title of the film refers to the application of genetic technology in the work of DNA hybridization between the Na'vi and Earthlings by a group that studies the interaction with indigenous people in Pandora.</p>
						</div>
						<ul class="movie-meta">
							<li>
								<strong>Rating:</strong>
								<div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
							</li>
							<li><strong>Length:</strong> @Model.Duration</li>
							<li><strong>Premiere:</strong> 22 March 2013 (USA)</li>
							<li><strong>Category:</strong> Animation/Adventure/Comedy</li>
						</ul>

						<ul class="starring">
							<li><strong>Directors:</strong> Kirk de Mico (as Kirk DeMico). Chris Sanders</li>
							<li><strong>Actor:</strong> @Model.Actors</li>
							<li><strong>Stars:</strong> Nicolas Cage, Ryan Reynolds, Emma Stone</li>
						</ul>
						<ul>
							<a asp-action="Ticket_Booking" asp-route-id="@Model.MovieId">
								<button class="btn btn-primary btn-lg btn-block" type="submit">Booking</button>
							</a>
						</ul>
					</div>
					
				</div> <!-- .row -->
				
			</div>
		</div>
	</div> <!-- .container -->
</main>

<script src="~/Movie_Detail/js/jquery-1.11.1.min.js"></script>
<script src="~/Movie_Detail/js/plugins.js"></script>
<script src="~/Movie_Detail/js/app.js"></script>